---
layout: default
---

<div class="home">
  {{ content }}

  {% if paginator.posts and paginator.posts.size > 0 %}
    <ul class="post-list">
      {% for post in paginator.posts %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
          {% if site.show_excerpts %}
          {{ post.excerpt }}
          <a class="read-more" href="{{ post.url | relative_url }}">Read more →</a>
          {% endif %}
          </li>
      {% endfor %}
    </ul>

    <nav class="pagination" role="navigation">
      {% if paginator.previous_page %}
        <a class="newer-posts" href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a class="older-posts" href="{{ paginator.next_page_path | relative_url }}">Older &rarr;</a>
      {% endif %}
    </nav>

    <p class="rss-subscribe" style="margin-top:10px;">
      <a href="{{ "/feed.xml" | relative_url }}">
        <img src="/assets/social_style_3_rss-512-1.png" alt="RSS" style="width:31px;height:31px;">
      </a>
    </p>
  {% endif %}
</div>
